/**
 * @name The NOexistenceN of you AND me
 * @version 1.0.0
 * @author VTArcelia
 * @authorId 824922747423031359
 * @description Lilith
 * @source https://github.com/VTArcelia/Discord-QuickCSS
*/

@import url(https://clearvision.github.io/ClearVision-v6/main.css);
@import url(https://VTArcelia.github.io/Discord-QuickCSS/fontreplacer.css);
@import url(https://discordstyles.github.io/Addons/windows-titlebar.css);

:root {
  --focus-color: rgb(15, 240, 250); 
  --url-color: rgb(15, 240, 250);
  --background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
  --background-overlay: rgba(0, 0, 0, 0.6); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
  --background-image: url(https://i.postimg.cc/q0zc876L/224390c925eb0d556d082f0c6d78a28f8ec27d51.jpg); /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
  --background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
  --background-contrast: 100%; /* app background contrast [default: 100%] */
  --background-saturation: 100%; /* app background saturation [default: 100%] */
  --background-blur: 0px; /* app background blur [default: 0px] */
  --main-font: Atkinson Hyperlegible; /* main font for app (font must be installed) [default: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif] */
  --code-font: Atkinson Hyperlegible; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
}

/* End of Theme */
