/**
 * @name Why Do I need this Vencord
 * @version 1.0.0
 * @author No one
 * @authorId 643945264868098049
 * @description Pointless filler
 * @source https://github.com/Blanc-dot/Discord-QuickCSS
*/

@import url(https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css);
@import url(https://blanc-dot.github.io/Discord-QuickCSS/fixicons.css);
@import url(https://blanc-dot.github.io/Discord-QuickCSS/fontreplacer.css);
@import url(https://discordstyles.github.io/Addons/windows-titlebar.css);
@import url("https://raw.githubusercontent.com/Andrew6rant/Discord-plugins-and-themes/refs/heads/main/BetterMessageButtonsAlternate.theme.css");

:root {
  --background-image: url('https://i.postimg.cc/syYxdN8D/encore-pre-concert-wallpaper.png');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: var(--background-image);
  --popout-image-blur: 3px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 3px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.34;
  --left-brightness: 0.4;
  --middle-brightness: 0.46;
  --right-brightness: 0.12;
  --overlay-brightness: 0.7;
  --gradient-primary: 181,68,200;
  --gradient-secondary: 7,21,99;
  --link-colour: #0FF0FA;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 185deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: 'Atkinson Hyperlegible';
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* END OF THEME GO BACK A LINE */

/* Anti Fake Play Video Button */
div[class="iconWrapper_e10160"] {
 background-color: rgba(172, 110, 253, 0.774) 
}

/* unread channel indicators */
.iconContainer_d8bfb3 {
  width: 6px;
  height: 6px;
  margin-right: 10px !important;
  margin-left: 8px !important;
  margin: 0px;
  border-radius: 100%;
}
/* Color for unread channel indicators */
.unread_d8bfb3 {
  background-color: #f188ff; 
  width: 6px;
  height: 6px;
  top: 20px;
  margin-left: 10px !important;
  margin: 0px;
  border-radius: 100%;
}

/* custom chat bar input text  */
:root{
 --prompt-text: "mrreow~! :3";
}
/* hide existing text */
[class*=placeholder][class*=slateTextArea] {visibility: hidden;}
/* add custom text */
[class*=placeholder][class*=slateTextArea]::before {
  visibility: 
visible; opacity: 35%; 
content: var(--prompt-text); 
}

/* Removes some mild annoyances */
[aria-label="Open sticker picker"] {display: none !important;}
[aria-label="Add Friends to DM"] {display: none !important;}
[aria-label="Show User Profile"] {display: none !important;}
[aria-label="Start Voice Call"] {display: none !important;}
[aria-label="Start Video Call"] {display: none !important;}
[aria-label="Hide Member List"] {display: none !important;}
[aria-label="Open GIF picker"] {display: none !important;}
[aria-label="Send a gift"] {display: none !important;}
[aria-label="Threads"] {display: none !important;}
[aria-label="Inbox"] {display: none !important;}
[aria-label="Help"] {display: none !important;}
[href*="catbox"] {display: none !important;}
[href*="tenor"] {display: none !important;}
[href="/store"] {display: none !important;}
[href="/shop"] {display: none !important;}

/* Right Click Menus */
.wrapper_a24e84 {display: none !important;}
#message-add-reaction {display: none !important;}
#message-thread {display: none !important;}
#message-apps {display: none !important;}
#message-mark-unread {display: none !important;}
#message-tts {display: none !important;}
#user-context-invite-to-server {display: none !important;}
#user-context-roles {display: none !important;}
#user-context-apps {display: none !important;}
#user-context-call {display: none !important;}
#user-context-note {display: none !important;}
#user-context-mention {display: none !important;}
#user-context-view-avatar {display: none !important;}
#user-context-mark-channel-read {display: none !important;}
/* Triple Dot message context menu */
#message-actions-add-reaction {display: none !important;}
#message-actions-thread {display: none !important;}
#message-actions-mark-unread {display: none !important;}
#message-actions-tts {display: none !important;}
#message-actions-apps {display: none !important;}

/* Removes Separators (probably fucks settings page up but who really cares) */
.separator_d90b3d {display: none !important;}

/* Remove the goofy ass app launcher they just added */
.channelAppLauncher_df39bd {display: none !important;}

/* Remove Threads Popout from channel list */
.popout_c5b389 {display: none !important;}

/* Remove Message Headers */
div:is([class*=messageContent],[class*=embedDescription]) > :is(h1, h2, h3, small) {
  font-size: 100% !important;
  font-weight: inherit !important;
  margin: unset !important;
  color: var(--text-normal) !important;
}
span:is([class*="before_subtext_"],[class^="subtext_"]) {
  color: unset;
  font-size: unset;
  line-height: unset;
  font-weight: unset;
}
div:is([class*=messageContent],[class*=embedDescription]) > h1::before {
  content: "# ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h2::before {
  content: "## ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h3::before {
  content: "### ";
}
div:is([class*=messageContent],[class*=embedDescription]) > small::before {
  content: "-# ";
}


/* Make Delete/Logout Buttons Red (requires theme attributes) */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}


/* Hide Activity in member list */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
  display: none;
}

/* Remove the Create Invite button from Channel Lists */
[class^="iconVisibility_"] [aria-label="Create Invite"] {
    display: none !important;
}
[class^="iconVisibility_"] [class^="channelInfo_"] {
    display: flex !important;
}

/* Automatically resizing gif picker */
:root {
    /* Change me! anything greater than 1 makes it wider, anything below 1 ex 0.5 makes it taller */
    --expression-picker-aspect-ratio: 2 / 1;
}
[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}
[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}
/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
    height: 100%;
}

