/* Removes mild annoyances */
[aria-label="Open sticker picker"],
[aria-label="Add Friends to DM"],
[aria-label="Show User Profile"],
[aria-label="Start Voice Call"],
[aria-label="Start Video Call"],
[aria-label="Hide Member List"],
[aria-label="Open GIF picker"],
[aria-label="Send a gift"],
[aria-label="Threads"],
[aria-label="Inbox"],
[aria-label="Help"],
[href^="catbox"],
[href^="tenor"],
[href="/store"],
[href="/shop"] {
	display: none !important;
}

/* Automatically resizing gif picker */
:root {
	--expression-picker-aspect-ratio: 2 / 1;
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
	height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
	max-height: 100%;
	bottom: 0px;
	height: auto;
	aspect-ratio: var(--expression-picker-aspect-ratio);
}
