/**
 * @name OpenAsar
 * @version 1.0.0
 * @author VTArcelia
 * @authorId 824922747423031359
 * @description this is for Snazzy Shelter when i forgor to reinject openasar
 * @source https://github.com/VTArcelia/Discord-QuickCSS
*/


/* Anti Fake Play Video Button */
div[class="iconWrapper__6eb54"] {
 background-color: rgba(172, 110, 253, 0.774) 
}


/* custom chat bar input text  */
:root{
 --prompt-text: "Chatting.";
}
/* hide existing text */
[class*=placeholder][class*=slateTextArea] {visibility: hidden;}
/* add custom text */
[class*=placeholder][class*=slateTextArea]::before {
  visibility: 
visible; opacity: 35%; 
content: var(--prompt-text); 
}

/* Removes some mild annoyances */
[aria-label="Open sticker picker"] {display: none !important;}
[aria-label="Add Friends to DM"] {display: none !important;}
[aria-label="Show User Profile"] {display: none !important;}
[aria-label="Start Voice Call"] {display: none !important;}
[aria-label="Start Video Call"] {display: none !important;}
[aria-label="Hide Member List"] {display: none !important;}
[aria-label="Open GIF picker"] {display: none !important;}
[aria-label="Send a gift"] {display: none !important;}
[aria-label="Threads"] {display: none !important;}
[aria-label="Inbox"] {display: none !important;}
[aria-label="Help"] {display: none !important;}
[href*="catbox"] {display: none !important;}
[href*="tenor"] {display: none !important;}
[href="/store"] {display: none !important;}
[href="/shop"] {display: none !important;}

/* Right Click Menus */
.wrapper_f563df {display: none !important;}
#message-add-reaction {display: none !important;}
#message-thread {display: none !important;}
#message-apps {display: none !important;}
#message-mark-unread {display: none !important;}
#message-tts {display: none !important;}
#user-context-invite-to-server {display: none !important;}
#user-context-roles {display: none !important;}
#user-context-apps {display: none !important;}
#user-context-call {display: none !important;}
#user-context-note {display: none !important;}
#user-context-mention {display: none !important;}
#user-context-view-avatar {display: none !important;}
#user-context-mark-channel-read {display: none !important;}
/* Triple Dot message context menu */
#message-actions-add-reaction {display: none !important;}
#message-actions-thread {display: none !important;}
#message-actions-mark-unread {display: none !important;}
#message-actions-tts {display: none !important;}
#message-actions-apps {display: none !important;}

/* Removes Separators (probably fucks settings page up but who really cares) */
.separator_c1e9c4 {display: none !important;}

/* Remove the goofy ass app launcher since I never use it */
.channelAppLauncher_e6e74f {display: none !important;}

/* Remove Message Headers because idc for -# # ## ### */
div:is([class*=messageContent],[class*=embedDescription]) > :is(h1, h2, h3, small) {
  font-size: 100% !important;
  font-weight: inherit !important;
  margin: unset !important;
  color: var(--text-normal) !important;
}
span:is([class*="before_subtext_"],[class^="subtext_"]) {
  color: unset;
  font-size: unset;
  line-height: unset;
  font-weight: unset;
}
div:is([class*=messageContent],[class*=embedDescription]) > h1::before {
  content: "# ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h2::before {
  content: "## ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h3::before {
  content: "### ";
}
div:is([class*=messageContent],[class*=embedDescription]) > small::before {
  content: "-# ";
}

/* Hide Activity in member list */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
  display: none;
}

/* Remove the Create Invite button from Channel Lists */
[class^="iconVisibility_"] [aria-label="Create Invite"] {
    display: none !important;
}
[class^="iconVisibility_"] [class^="channelInfo_"] {
    display: flex !important;
}

/* Automatically resizing gif picker */
:root {
    /* Change me! anything greater than 1 makes it wider, anything below 1 ex 0.5 makes it taller */
    --expression-picker-aspect-ratio: 2 / 1;
}
[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}
[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}
/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
    height: 100%;
}

/* left align all gif favorite icons */
[class^=result_] [class^=favButton_] {
    right: unset; 
}

/* Remove All emoji reactions */
[class^=hoverBarButton_]:has(>div>.emoji) {
  display: none;
}

/* Pin page switcher to bottom of search results */
[class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}

/* Flip the new chat bar from experiments */
[class*="formWithLoadedChatInput"] {
  display: flex;
  flex-direction: column-reverse;
}
[class*="formWithLoadedChatInput"] > [class*="typing_"] {
  position: relative !important;
}
[class*="channelTextArea_f75fb0"] {
  display: flex;
  flex-direction: column-reverse;
}

/* Remove invisible typing icon from shelter */
.KIS_7q_invisContainer {display: none !important;}
.KIS_7q_notShowing {display: none !important;}

/* "Hover" server List mainly for new ui, on old just hides the icons until mouse over 
[class*="guilds"] {
  opacity: 0;
  transform: translateX(-25px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

[class*="guilds"]:hover {
  opacity: 1;
  transform: translateX(0);
}
*/
