/* Anti Fake Play Video Button */
div[class="iconWrapper_e10160"] {
 background-color: rgba(172, 110, 253, 0.774) 
}

/* unread channel indicators */
.iconContainer_d8bfb3 {
  width: 6px;
  height: 6px;
  margin-right: 10px !important;
  margin-left: 8px !important;
  margin: 0px;
  border-radius: 100%;
}
/* Color for unread channel indicators */
.unread_d8bfb3 {
  background-color: #f188ff; 
  width: 6px;
  height: 6px;
  top: 20px;
  margin-left: 10px !important;
  margin: 0px;
  border-radius: 100%;
}

/* custom chat bar input text  */
:root{
 --prompt-text: "mrreow~! :3";
}
/* hide existing text */
[class*=placeholder][class*=slateTextArea] {visibility: hidden;}
/* add custom text */
[class*=placeholder][class*=slateTextArea]::before {
  visibility: 
visible; opacity: 35%; 
content: var(--prompt-text); 
}

/* Removes some mild annoyances */
[aria-label="Open sticker picker"] {display: none !important;}
[aria-label="Add Friends to DM"] {display: none !important;}
[aria-label="Show User Profile"] {display: none !important;}
[aria-label="Start Voice Call"] {display: none !important;}
[aria-label="Start Video Call"] {display: none !important;}
[aria-label="Hide Member List"] {display: none !important;}
[aria-label="Open GIF picker"] {display: none !important;}
[aria-label="Threads"] {display: none !important;}
[aria-label="Inbox"] {display: none !important;}
[aria-label="Help"] {display: none !important;}
[href*="catbox"] {display: none !important;}
[href*="tenor"] {display: none !important;}
[href="/store"] {display: none !important;}
[href="/shop"] {display: none !important;}

/* Right Click Menus */
.wrapper_a24e84 {display: none !important;}
#message-add-reaction {display: none !important;}
#message-thread {display: none !important;}
#message-apps {display: none !important;}
#message-mark-unread {display: none !important;}
#message-tts {display: none !important;}
#user-context-invite-to-server {display: none !important;}
#user-context-roles {display: none !important;}
#user-context-apps {display: none !important;}
#user-context-call {display: none !important;}
#user-context-note {display: none !important;}
#user-context-mention {display: none !important;}
#user-context-view-avatar {display: none !important;}
#user-context-mark-channel-read {display: none !important;}
/* Triple Dot message context menu */
#message-actions-add-reaction {display: none !important;}
#message-actions-thread {display: none !important;}
#message-actions-mark-unread {display: none !important;}
#message-actions-tts {display: none !important;}
#message-actions-apps {display: none !important;}

/* Removes Separators (probably fucks settings page up but who really cares) */
.separator_d90b3d {display: none !important;}

/* Remove the goofy ass app launcher they just added */
.channelAppLauncher_df39bd {display: none !important;}

/* Remove Threads Popout from channel list */
.popout_c5b389 {display: none !important;}

/* Remove Message Headers */
div:is([class*=messageContent],[class*=embedDescription]) > :is(h1, h2, h3, small) {
  font-size: 100% !important;
  font-weight: inherit !important;
  margin: unset !important;
  color: var(--text-normal) !important;
}
span:is([class*="before_subtext_"],[class^="subtext_"]) {
  color: unset;
  font-size: unset;
  line-height: unset;
  font-weight: unset;
}
div:is([class*=messageContent],[class*=embedDescription]) > h1::before {
  content: "# ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h2::before {
  content: "## ";
}
div:is([class*=messageContent],[class*=embedDescription]) > h3::before {
  content: "### ";
}
div:is([class*=messageContent],[class*=embedDescription]) > small::before {
  content: "-# ";
}

/* Boost Gradient */
body {
    --guild-boosting-blue: #0ff0fa, #9e6eeb, #db74fa;
    --guild-boosting-purple: #db74fa, #9e6eeb, #0ff0fa;
}

/* Make Delete/Logout Buttons Red (requires theme attributes) */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}

/* Collapsable Server List */
.wrapper_fea3ef:not(:hover) {
  width: 12px;
  background-color: var(--primary-630) !important;
}

.wrapper_fea3ef * {
  opacity: 0;
}

.wrapper_fea3ef:hover {
  width: 72px;
}

.wrapper_fea3ef:hover * {
  opacity: 1;
}
