@import url("https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css");
:root {
    --channellist-width: 190px;
    --channellist-header-height: 48px;
}

/* Me */
[data-author-id="824922747423031359"] .username_ec86aa.desaturateUserColors_c7819f.clickable_ec86aa {
    font-size: 1; 
    color: #FF69B4;
    }

/* Anti Fake Play Video Button */
div[class="iconWrapper_b26897"] {
  background-color: rgba(172, 110, 253, 0.774) 
}
[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

/* Remove mild annoyances */
[aria-label="Show User Profile"] {display: none;}
[aria-label="Hide User Profile"] {display: none;}
.welcomeCTA_f6dde0 {display: none;}
.roleIcon_d5100b.roleIcon_ec86aa.clickable_d5100b {display: none !important;}
.recentsIcon_ea0547 {display: none;}
[aria-label="Help"] {display: none;}
.selectionGroup_bde965 {display: none;}
.presets_f45ea6, .header_f45ea6, .themeTitle_a614a7, .divider_b03b7f.marginTop20_f7730b {display: none;}
[data-list-item-id="private-channels-uid_18___nitro"] {display: none !important;}
div [aria-label="Start Voice Call"] {display: none !important;}
div [aria-label="Start Video Call"] {display: none !important;}
div [aria-label="Help"] {display: none !important;}
[href*="catbox"] {display: none;}
[href*="tenor"] {display: none;}

/* old funny webm videos */
[class*="inlineMediaEmbed"] {
  max-height: max-content !important;
  max-width: max-content !important;
}
[class*="loadingOverlay"] {
  aspect-ratio: unset !important;
}
[class*="imageWrapper"] {
  aspect-ratio: unset !important;
  width: max-content !important;
  height: max-content !important;
}
[class*="oneByOneGrid"] {
  max-height: max-content !important;
}
[class*="wrapperPaused"] {
  width: max-content;
  height: max-content;
}

/* Un-Simplify Bios */
[class^="descriptionClamp_"] {
    display: block!important;
}

/* Transparent (Remove if you aren't using) */
:root{
    --var-opacity-option: 0.45;    /*   Acrylic opacity from 0 to 1    */
    --var-color-saturation: 1.3; /* 0 to 999 where 1 is the default  */
    --var-contrast: 1.6;          /*     Increase for darker blacks   */

    --var-opacity-titlebar: 0.1;
    --var-opacity-left-sidebar: 0.1;
    --var-opacity-bottom-input: 0.28; /* Change the transparency of different elements */
    --var-opacity-right-sidebar: 0.1;
    --var-opacity-inner-messages: 0.15;
}


/* Clear (Remove if you aren't using) */
:root{
  --background-image: url('https://i.imgur.com/Fsl3o1O.jpeg');
}
