/* Block List */
[data-author-id=""] {display: none;}

/* Liked Users, if you want custom usernames for all, then ignore example
and just copy paste the entire section, doing so lets you change nicknames
on a per user basis

example : 
[data-author-id="824922747423031359"], [data-author-id="12345123123"] .user etc etc
*/

[data-author-id="824922747423031359"] .username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1 {font-size: 0;}
[data-author-id="824922747423031359"] .username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1::before {font-size: 1rem;

/* Custom name (add a space at end if using custom image) */
    content: "🌸 Saori Joumae " 
/* Custom Image next to name (removable) 15x15 ideally */
    url("https://i.postimg.cc/KzhpH219/Liked.png")}


/* Remove Verified Icon from favorites */
[data-author-id="824922747423031359"] .username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1:after {
    content: var(--twitter-verified);
    display: none
}

/* File Blur */
:root {
    --file-blur: 10px;
}

/* Home Icon */
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
    background: url("https://i.postimg.cc/x19dfMkz/image.png") no-repeat center !important;
    background-size: cover !important;
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
    display: none;
}

/* Removed all other notes because I really don't care about that shit, the top most is only what I mess with now */




div [aria-label="Start Voice Call"] {
 display: none !important;
}
div [aria-label="Start Video Call"] {
 display: none !important;
}



div [aria-label="Help"] {
 display: none !important;
}
[class^=altText__6dd8b] {
 display: none;
}



div [aria-label="Send a gift"] {
 display: none;
}
div [aria-label="Send a personalized Nitro gift to spread holiday cheer!"] {
 display: none;
}







.header_f72511:has(+ .premiumTab__57bdc) ,
.premiumTab__57bdc ,
.premiumTab__57bdc + .item__48dda ,
.premiumTab__57bdc + .item__48dda + .item__48dda ,
.premiumTab__57bdc + .item__48dda + .item__48dda + .item__48dda ,
.premiumTab__57bdc + .item__48dda + .item__48dda + .item__48dda + .item__48dda ,
.premiumTab__57bdc + .item__48dda + .item__48dda + .item__48dda + .item__48dda + .separator_fdbcfd   {
  display: none;
}


a[href="/store"] { display: none; }
a[href="/shop"] { display: none; }



.titleBar__01af6:not(.typeMacOS-3V4xXE)::after {
  content: "Enrop";
  scale: 1.2;
  position: absolute;
  top: 5px;
  left: 10px;
  color: rgb(170, 170, 170);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
}
.wordmark__0d178{display: none;}


.sidebarRegion__60457 {
max-width: fit-content !important; 
}
.contentColumn_dc7d36 { 
    max-width: unset;
}
.standardSidebarView__1129a {
top: 0px !important;
}
.sidebar__9e3e2 { 
padding-top: 2em;
}
.avatar__6c108 { 
top: 215px;
}
.bannerSVGWrapper__3e7b0>mask>circle { 
    r: 19.701;
    cy: 109;
    cx: 27;
}


.text-xs-semibold_a3a2b4.barText__1a44f {font-size: 0px;}
.text-xs-semibold_a3a2b4.barText__1a44f:before {font-size:12px; content:  "new shit that you don't care about!"; position: absolute; top: 4px;}
.bar__004d9 {width: 5.3em;height:3.9em} 

::selection {background-color: rgba(102, 51, 153, 0.5);color: white;}


[href*="catbox"], [href*="tenor"] {
    display: none;
}



:root {
    --twitter-verified: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/15px-Twitter_Verified_Badge.svg.png);
}
.username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1:after {
    content: var(--twitter-verified);
    filter:hue-rotate(155deg);
    display: flexbox;
    padding-left: 5px;}
.vc-spotify-button-row {
    opacity: 0%;
    transition: ease 0.5s;
    gap: 6.5rem !important;
}




.vc-spotify-button-row:hover {
    opacity: 100%;
    gap: 0px !important;
}



.mentioned__58017:hover {
    background-color: hsl(var(--yellow-300-hsl)/0.08) !important;
}


.imageWrapper_fd6587.imageZoom_ceab9d.clickable_dc48ac.lazyImgContainer__68fa8 img {
    filter: blur(var(--file-blur));
    transition: ease 0.45s;}
.imageWrapper_fd6587.imageZoom_ceab9d.clickable_dc48ac.lazyImgContainer__68fa8:hover img {
    filter: blur(0px);
}
.imageWrapper_fd6587:has(.cover__0b3cf.active_f0dd2f) {
    filter: blur(var(--file-blur));
    transition: ease 0.45s;
    }
.imageWrapper_fd6587:has(.cover__0b3cf.active_f0dd2f):hover {
    filter: blur(0px);
    }
.imageWrapper_fd6587 > .clickableWrapper__64072 {
    filter: blur(var(--file-blur));
    transition: filter ease 0.45s;
}
.imageWrapper_fd6587:hover > .clickableWrapper__64072 {
    filter: blur(0px);
}
.imageWrapper_fd6587:has([aria-label="Image"]) {
    filter: blur(var(--file-blur));
    transition: ease 0.45s;
}
.imageWrapper_fd6587:has([aria-label="Image"]):hover {
    filter: blur(0px);
}
.embedWrapper_c143d9.embedFull__8dc21 img {
    filter: blur(var(--file-blur));
    transition: 0.45s ease;
}
.embedWrapper_c143d9.embedFull__8dc21:hover img {
    filter: blur(0px);
}
[data-type="sticker"] {
    filter: blur(var(--file-blur));
    transition: 0.45s ease
}
[data-type="sticker"]:hover {
    filter: blur(0px);
}

/* .avatarDecoration__14b3c {display: none;} */
/* .avatarDecoration_ae35e3 {display: none;} */
/* .profileEffects_fd33f6 {display: none;} */
/* .profilePanel__12596 {display: none;} */
[aria-label="Show User Profile"] {display: none;}
[aria-label="Hide User Profile"] {display: none;}
.welcomeCTA__927ef {display: none;}
.roleIcon__59ca1.roleIcon_d491aa.clickable__08c77 {display: none !important;}
.recentsIcon__3c4cf {display: none}
[aria-label="Help"] {display: none;}
[aria-label="Deafen"] {display: none !important;}
.selectionGroup__36139 {display: none;}
.presets__14d08, .header_a6f6dd, .themeTitle__23d07, .divider_a2339a.marginTop20_d88ee7 {display: none;}
[aria-label="Clips"] {display: none;}
[aria-label="Family Center"] {display: none;}
[aria-label="Merch"] {display: none;}
[data-tab-id="Hypesquad Online"] {display: none !important;}
[data-tab-id="BLOCKED"] {display: none !important;}
[data-list-item-id="private-channels-uid_18___nitro"] {display: none !important;}


.ready__61f2f {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px !important;
    height: 150px !important;
}
.container__4bde3 {
    backdrop-filter: blur(48px);
}
.theme-dark .container__4bde3 {
    background-color: rgb(0 0 0/60%);
}
.theme-light .container__4bde3 {
    background-color: rgb(255 255 255/60%);
}
.tip__6e299 {
    color: var(--header-primary);
    font-size: 30px;
    font-weight: 300;
    opacity: .7;
}
.tipTitle_a7615c,
.tip__6e299 {
    width: fit-content !important;
    line-height: unset !important;
    max-width: 40vw;
    font-family: var(--font-headline);
    text-transform: none;
    margin-bottom: 8px;
    text-align: left;
}
.text__32559 {
    position: absolute;
    top: 57px;
    left: 35px;
    display: flex;
    flex-direction: column-reverse;
}
.problems__755eb {
    z-index: +1;
    width: fit-content;
    padding-left: 35px;
}
.problemsText__046e8 {
    color: var(--header-primary);
}
.tipTitle_a7615c {
    font-size: 0;
}
.tipTitle_a7615c::after {
    --var-loading-header: "Maidenless Activities...";
    content: var(--var-loading-header);
    color: var(--header-primary);
    font-size: 22px;
    font-weight: 300;
    opacity: .5;
}

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important;}

.nitroTopDividerContainer__4c8fd, premiumSectionDivider__8b7d8, .premiumHeader_f78f97 {
    display: none;
}
.premiumEmoji__2dbd7 {
    background-color: #00000000;
    filter: grayscale(100%);
    filter: hue-rotate(300deg);
}
.premiumEmoji__2dbd7 .base__76a71 .autocompleteRowContent_ec13a5 .autocompleteRowContentPrimary__533b6 .autocompleteRowHeading_caef9d:before {
    content: "🔒"
}

.layer_ad604d:has(.quickswitcher_a3d29a) {
    justify-content: start;
}
.quickswitcher_a3d29a {
    background: none;
    padding: 0;
}
.quickswitcher_a3d29a .scroller__52ae7 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 8px !important;
}
.quickswitcher_a3d29a .input__848cd {
    height: 50px;
}
.quickswitcher_a3d29a .input__848cd[value=""] {
    border-radius: 8px;
}
.quickswitcher_a3d29a .input__848cd:not([value=""]) {
    border-radius: 8px 8px 0 0;
}
.quickswitcher_a3d29a .input__848cd[value=""] + .scroller__52ae7,
.quickswitcher_a3d29a .protip__84833 {
    display: none;
}
.backdrop__7e89b:has(+ .layer_ad604d .quickswitcher_a3d29a) {
    opacity: 0;
}
